:root {
  --primary_color: #003DA5;
  --secondary_color: #FFCD00;
}
*{
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Montserrat;
}
body {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
    overflow-x: hidden;
}

.overflow-hidden {
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
a, a:hover, a:focus, a:before, a:after {
    outline: none;
    text-decoration: none !important;
}
a:hover {
    color: #111111;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}
.widget-title, .comments-title, .comment-reply-title {
    font-size: 13px;
    font-family: inherit!important;
    line-height: 1.5;
    position: relative;
    margin-bottom: 24px;
}
h2, .h2 {
    font-display: swap;
}
h2, .h2 {
    font-size: 36px;
    line-height: 49px;
}
h3, .h3 {
    font-size: 60px;
    line-height: normal;
}
h4, .h4 {
    font-size: 40px;
    line-height: normal;
}
h5, .h5 {
    font-size: 40px;
    font-weight: 500;
    line-height: 54px;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
    clear: both;
    line-height: normal;
    margin: 0 0 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.3 !important;
}
ul li {
    list-style: none;
}

.col-custom {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Class custom */
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-23 {
    margin-top: 23px;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-70 {
    margin-top: 70px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mr-20 {
    margin-right: 20px;
}
.mlr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.pt-20 {
    padding-top: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.color-black {
    color: #000 !important;
}

.color-main {
    color: var(--primary_color);
}
.color-white {
    color: #fff !important;
}
.fs-100 {
    font-size: 100px !important; 
}
.fs-20 {
    font-size: 20px !important; 
}
.fs-30 {
    font-size: 30px !important; 
}
.fw-700 {
    font-weight: 700;
}
.rd-12 {
    border-radius: 12px !important;
}
.t-shadow {
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.50);
}
.bg-img-section {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.uppercase {
    text-transform: uppercase !important;
}
.lh-1 {
    line-height: 1;
}
.lh-28 {
    line-height: 28px;
}
.col-6-ct {
    width: 50%;
    max-width: 50%;
}
.col-7-ct {
    width: 60%;
    max-width: 60%;
}
.col-5-ct {
    width: 40%;
    max-width: 40%;
}
.col-7-td {
    width: 53%;
    max-width: 53%;
}
.col-5-td {
    width: 47%;
    max-width: 47%;
}
.padding-0 {
    padding: 0 !important;
}
.mw-380 {
    max-width: 380px !important; 
}
.mw-400 {
    max-width: 400px !important; 
}
.space-custom-02 {
    margin-top: 100px;
}
.space-custom-03 {
    margin-top: 25px !important;
}
.space-custom-04 {
    margin-top: 50px !important;
}
.space-custom-05 {
    margin-top: 70px !important;
}
.bgr-fff {
    background-color: #fff !important;
}

@media (max-width: 1199px) {
    .none-lg {
        display: none;
    }
    .p-lr-lg-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fs-15 {
        font-size: 15px !important; 
    }
}
@media (max-width: 767px) {
    .none-sm {
        display: none;
    }
}
@media (min-width: 768px) {
    .none-min-sm {
        display: none;
    }
}
.container-default {    
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto !important;
}
.container-fluid {
    width: 100% !important;    
    padding: 0 0 !important;
}
.container-fluid-ct {
    max-width: 1460px !important;
    padding: 0 15px;
    margin: 0 auto !important;
}
.container-fluiddd {
    max-width: 1920px !important;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.space-between {
    justify-content: space-between;
}
.border-main {
    border-top: 1px solid #EBEBEB;
}   

.space-section {
    margin-top: 110px;
}

.btn-main {
    border: 1px solid var(--primary_color);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    height: 60px;
    line-height: 60px;
    padding: 0 42px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: var(--primary_color);
    display: inline-block;
    z-index: 11;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.btn-main:hover {
    background-color: #fff;
    border-color: #fff;
    color: #111111;
}
.btn-out-line {
    border: 2px solid var(--primary_color);
    background-color: transparent;
    color: #111111;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-out-line:hover {
    background-color: #111;
    border-color: #111;
    color: #fff;
}
.btn-text {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #FF0000;
}
.btn-round {
    padding: 0 25px;
    font-size: 20px;
    font-weight: 500;
    height: 38px;
    line-height: 35px;
    border-radius: 20px;
    color: #003DA5;
    border: 2px solid #003DA5;
    background: var(--pattern, #FFCD00);
    text-transform: initial;
}
.btn-main.style-02 {
    padding: 0 14px 0 20px;
    background-color: #fff;
}
.btn-main.style-02 img {
    transform: translateY(-3px);
    margin-left: 3px;
}
.btn-round:hover {
    text-decoration: none;
    color: #003DA5;
    background-color: #fff;
    border-color: #003DA5;
}
.btn-main.style-02:hover {
    border-color: 
}
.site-content {
    margin: 88px 0 0;
}

@media (max-width: 1199px) {
    .site-content {
        margin: 70px 0 0;
    }
}

/* Style form search */
.row.section-form-search {
    margin-right: 0px;
    margin-left: 0px;
}

.slide-form-box {
    margin: 77px auto 0;
    max-width: 1241px;
    width: 100%;
    flex-shrink: 0;border-radius: 12px;
    border: 1px solid #878787;
    background: #FFF;
    box-shadow: 2px 4px 32px 0px rgba(1, 70, 177, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 35px 18px 20px;
}

.form-search {
    position: relative;
    transform: translateY(-12px);
}

.form-search input {
    width: 100%;
    border: none;
    outline: none;
    border: none;
    border-radius: 12px;
    font-family: roboto;
    height: 50px;
    background-color: #EBEBEB;
    padding: 5px 15px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    margin-left: 60px;
}

.form-search button {
    position: absolute;
    content: '';
    top: 27px;
    left: 0;
}

.form-search button i {
    color: #878787;
}

.form-check-box {
    color: #4D4D4D;
    font-weight: 600;
    margin-left: 30px;
}

.form-check-box input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 0;
    transform: translateY(4px);
    margin-right: 5px;
}

/* css drop down */
.dropdown-section {
    cursor: pointer;
}

.btn-main.btn-search-dropdown {
    background-color: #FFCD00;
    font-size: 16px;
    font-weight: 700;
    color: #003DA5;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    border: none;
}

.btn-main.btn-search-dropdown:hover {
    background-color: #003DA5;
    color: #FFCD00;
}

.dropdown-section select {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.64px;
    border: none !important;
    margin: 0 10px 0 5px;
    padding: 13px 10px;
}

.dropdown-section select option {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
}

/* Style border left meta heading */
.bg-img-section {
    padding: 85px 0 42px;
}

.slide-content-box {
    max-width: 660px;
    margin: 0 15px;
    padding: 35px 60px 41px 45px;
    border: 5px solid #FFCD00;
    border-radius: 0 35px 0 35px;
}

.description-slide {
    color: #fff;
}

.row-trending-search {
    justify-content: center;
}

.trending-search {
    margin-top: 20px;
}

.box-link {
    background-color: #fff;
    padding: 6px 10px;
    margin: 10px 3px 10px;
    border-radius: 12px;
}

.box-link:hover {
    background-color: #003DA5;
    color: #fff;
}

.trending-title.box-link {
    background-color: #003DA5;
}

.trending-category {
    text-align: center;
}

.trending-category span, .trending-category li {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.trending-category span {
    margin-right: 19px;
    padding: 3px 10px;
}

.trending-category li a {
    font-size: 16px;
    color: #003DA5;
    font-style: normal;
    font-weight: 600;
    line-height: 17px; 
}

.trending-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.section-table-of-contents {
    background-color: #003DA5;
}

.row-table-of-contents {
    justify-content: center;
}

.box-link-table {
    color: #fff;
    margin: 12px 1px 12px;
    border-radius: 100%;
    font-weight: 500;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
}

.table-of-contents-title {
    width: 150px;
    height: 24.351px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;  
}

.box-link-table:hover {
    background-color: #FFCD00;
    color: #000;
    text-decoration: none !important;
}

.list-of-contents {
    margin-bottom: 0;
    text-align: center;
}

.list-of-contents span, .list-of-contents li {
    display: inline-block;
    text-align: center;
}

.section-table-of-contents.style-2 {
    background-color: transparent;
    padding-top: 10px !important;
    padding-bottom: 6px !important;
}

.section-table-of-contents.style-2 .table-of-contents-title {
    color: #003DA5;
}

.section-table-of-contents.style-2 .box-link-table {
    color: #003DA5;
    font-weight: 600;
}

.section-table-of-contents.style-2 .box-link-table:hover {
    color: #fff
}

/*Style heading */
.heading-slide {
    font-size: 30px;
    line-height: 1.3;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 23px;
}

.heading-slide:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 158px;
    background-color: #FFCD00;
}

.item-section-title {
    color: #003DA5;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-widget-service .item-section-title {
    color: #003DA5;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-section-title .text-highlight {
    color: #FFCD00;
}

.text-behind {
    color: rgba(0, 0, 0, 0.025);
    font-family: 'Sonsie One', sans-serif;
    font-size: 128px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.wrap-title-section.heading-service .item-section-title {
    margin-top: -45px;
}

.section-widget-service .wrap-item:hover {
    text-decoration: none;
}

/* Style section banner image */
.item-banner-image img {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
}

.wrap-title-section{
    margin-bottom: 26px;
}

/* section service */
.section-widget-service {
    margin-top: 60px;
}

.section-service {
    margin-top: 20px;
}

.wrap-grid-service {
    margin-top: 60px;
}

.wrap-grid-service .item {
    margin-bottom: 70px;
}

.wrap-grid-service .wrap-image {
    min-height: 90px;
    line-height: 90px;
}

.wrap-grid-service .wrap-item .item-title {
    font-size: 20px;
    font-weight: 500;
    color: #003DA5;
    margin-top: 20px;
    line-height: 1.4;
}

/* section service gallery */
.section-gallery-image {
    margin-top: 57px;
}
.wrap-gallery{
    padding: 0px;
}

.wrap-gallery img{
    width: 100%;
}

.gallery-item {
    padding: 0 12px !important;
    margin-bottom: 24px;
}

.gallery-item img {
    max-height: 284px !important;
    overflow: hidden;
}

/* section registration company*/
.section-registration {
    margin-top: 115px;
}

.section-registration-company{
    margin-top: 107px;
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: rgba(77, 77, 77, .1);
}

.space-custom-01 {
    margin-top: 64px;
}

.section-registration-company .wrap-item{
    padding: 40px 30px 40px 20px;
    border-radius: 20px;
    border: 3px solid #003DA5;
    background-color: #fff;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-registration-company .item-section-title{
    text-align: center;
    max-width: 800px;
    position: relative;
    bottom: 0;
    margin: 0 0px 22px 13px;
}

.section-registration-company .item-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.section-registration-company .wrap-list-abc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.item-title-table-of-contents{
    color: #003DA5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.section-registration-company .wrap-list-abc .wrap-list-registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-registration-company .wrap-list-abc .wrap-list-registration a{
    width: 45px;
    height: 45px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    color: #003DA5;
}

.section-registration-company .wrap-list-abc .wrap-list-registration a:hover{
    background-color: #FFCD00;
    color: #fff;
    text-decoration: none;
}

/* Style section blog */
.section-blog {
    margin-top: 90px;
}

.row-blog {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .item-blog-sidebar {
        padding-right: 60px !important;
    }
}

.item-post.item {
    margin-bottom: 30px;
}

.item-image-blog {
    border-radius: 12px;
    overflow: hidden;
}

.item-image-blog img {
    transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
}

.item-post-content:hover .item-image-blog img {
    transform: scale(1.03);
}

.blog-title {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.blog-main .item-blog-title {
    color: #003DA5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 25px 0 10px;
}

.item-post-description {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.btn-round.style-03 {
    border-radius: 12px;
    height: 34px;
    line-height: 30px;
    margin-top: 20px;
    float: right;
}

/* Style section list carousel */

.section-registration .wrap-list.box {
    margin-top: 43px;
}

.item-section-title.style-02 {
    margin-top: -30px;
}

.item-section-title.style-03 {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
}

.item-section-title.style-03:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: rgba(77, 77, 77, 0.1);
}

.section-registration .wrap-list{
    padding: 67px 100px 58px;
    max-width: 1241px;
    margin: 0 auto;
    border: 2px solid #003DA5;
    border-radius: 12px;
    overflow: hidden;
}

.section-registration .wrap-list-registration{class="item-wrap-time"

overflow: hidden;
overflow-y: scroll;
height: 625px;
padding-right: 112px;
}

.section-registration ul::-webkit-scrollbar {
    width: 10px;
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}

.section-registration ul::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}

.section-registration ul::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #003DA5;
    border-radius: 10px;
}

.section-registration ul li{
    display: flex;
    flex-direction: row;
}

.section-registration ul li .item-info-company{
    width: 76%;
    display: inline-block;
}

.section-registration ul li .item-time{
    width: 26.1%;
    display: inline-block;
}

.section-registration ul li + li{
    padding-top: 31px;
    margin-top: 30px;
    border-top: 1px solid #003DA5;
}

.section-registration ul li a{
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 15px;
}

.section-registration ul li > span{
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Style section update */
.section-update .text-behind {
    line-height: 1;
}

.section-update .item-section-title {
    margin-top: -30px;
}

.row-spacing {
    margin-top: 30px;
}

.wrap-list-update .item-image {
    border-radius: 12px;
}

/* section search */
.section-search {
    margin-top: 120px;
}

.section-search h5{
    color: #4D4D4D;
    text-align: center;
    margin: 10px 0 36px;
}

.section-search ul{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 -15px;
}

.section-search ul::-webkit-scrollbar {
    height: 10px;
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}

.section-search ul::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}

.section-search ul::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #003DA5;
    border-radius: 10px;
}

.section-search ul li{
    display: inline-block;
    min-width: 20%;
}

.section-search ul li .wrap-item img{
    border-radius: 12px;
    min-width: 258px;
    width: 100%;
}

.section-search ul li .wrap-item{
    margin: 0 15px;
}

/* Style setion field */
.section-widget-fields .wrap-grid-fields {
    margin: 20px -10px 0 !important;
}

.section-widget-fields .wrap-item-box {
    border-radius: 12px;
    border: 2px solid #003DA5;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    min-height: 87px;
    margin-bottom: 16px;
    position: relative;
}

.section-widget-fields .wrap-item-box .item-text {
    color: #003DA5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    margin-bottom: 0;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.section-widget-fields .wrap-grid-fields .item {
    padding: 0 10px !important;
}

.section-widget-fields .wrap-item-box:hover {
    background-color: rgba(0, 61, 165, 1);
}

.section-widget-fields .wrap-item-box:hover .item-text {
    color: #fff;
}

.btn-main.btn-view-more {
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 10px;
    background-color: #EECF38;
}

.btn-main.btn-view-more img {
    transform: translateY(-2px);
}

.btn-main.btn-view-more:hover {
    background-color: #fff;
}

/* Style section show case */
.section-show-case {
    margin-top: 76px;
    padding: 96px 0 96px;
}  

.item-show-case .number {
    font-size: 80px;
    font-weight: 600;   
    line-height: 1.3;
    color: #FFCD00;
    margin-bottom: 20px;
}

.item-show-case .number.stroke {
    color: transparent;
    text-stroke-color: #FFCD00;
    -webkit-text-stroke-color: #FFCD00;
    text-stroke-width: 1px;
    -webkit-text-stroke-width: 2px;
    font-family: chakra petch,sans-serif;
}

.item-show-case .show-case-title {
    color: #FFCD00;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

/* section update */
.section-update {
    margin-top: 125px;
}

.section-update h5{
    color: #003DA5;
    text-align: center;
}

.section-update .wrap-list-update{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 47px;
}
.section-update ul::-webkit-scrollbar {
    height: 10px;
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}
.section-update ul::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    background-clip: content-box;
    border-radius: 10px;
}
.section-update ul::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #003DA5;
    border-radius: 10px;
}
.section-update .wrap-list-update li{
    min-width: 33.33%;
}
.section-update .wrap-list-update li .wrap-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #003DA5;
    padding: 22.22px;
}
.section-update .wrap-list-update li + li .wrap-item{
    margin-left: 17px;
}

.section-update .wrap-list-update li .wrap-item + .wrap-item{
    margin-top: 17px;
}
.section-update .wrap-list-update li .wrap-item .item-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
}

/* section product */
.section-product h5{
    color: #003DA5;
    text-align: center;
}

.section-product .owl-carousel{
    position: relative;
}
.section-product .owl-carousel .owl-stage-outer{
    z-index: 2;
}
.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .wrap-item{
    overflow: hidden;
    border: 2px solid #003DA5;
    border-radius: 12px;
    margin: 38px 0;
    overflow: hidden;
}

.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .wrap-image{
    position: relative;
}
.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .wrap-image:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid #003DA5;
    border-radius: 12px;
}
.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .wrap-image .item-icon-svg{
    max-width: 37px;
    position: absolute;
    right: 6.5px;
    top: 6px;
}
.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .wrap-image .item-image{
    border-radius: 12px;
}
.section-product .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .item-title{
    margin: 20px 0 19px;

}
.section-product .owl-carousel .owl-nav{
    position: absolute;
    top: 50%;
    left: -105px;
    right: -105px;
    margin: 0;
    z-index: 1;
}
.section-product .owl-carousel .owl-nav button{
    width: 102px;
    height: 102px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-90%);
}
.section-product .owl-carousel .owl-nav button:hover{
    background-color: transparent;
}
.section-product .owl-carousel .owl-nav button:hover{
    background-color: transparent;
}
.section-product .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0;
}
.section-product .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 0;
    text-align: right;
}
.section-product .owl-carousel button.owl-prev span, .section-product .owl-carousel button.owl-next span{
    font-size: 150px;
    color: #D9D9D9;
    line-height: 0;
}

.select2-container--default .select2-selection--single {
    border-radius: 5px;
    background-color: #ecf0f1;
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.relative {
    position: relative;
}

.link-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* Style danh muc page */
.site-content-danh-muc {
    padding: 20px 0 0; 
}

.section-widget-banner-sale .container-fluid-ct {
    max-width: 1245px !important;
}

.section-widget-banner-sale .item-banner-sale {
    margin-bottom: 30px;
}


/* Style Category Banner Style */
.section-category-banner {
    margin-top: 70px;
}

.table-category-banner {
    background-color: rgba(77, 77, 77, .1);
    padding: 5px 5px 5px;
}

/* Column 1 */
.wrap-category-banner {
    background-color: #fff;
}

.category-banner-title {
    padding: 10px 10px 10px 10px; 
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    background-color: rgba(77, 77, 77, .2);
}

.category-banner-title .number-round {
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 100%;
    text-align: center;
    background-color: #FFCD00;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #e7ba00;
}

.category-item-list li a {
    background-color: #fff;
    border-bottom: 2px solid rgba(77, 77, 77, .1);
    padding: 11px 10px 10px;
    display: block;
    color: #003DA5;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.item-btn-view-all {
    background-color: #FFCD00;
    border: 1px solid #b52400;
    color: #b52400;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    letter-spacing: -0.5px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 11px;
}

.item-btn-view-all:hover {
    background-color: #b52400;
    border: 1px solid #b52400;
    color: #fff;
}

.category-item-list li a:hover {
    color: #000;
}

/* Column 2 */
.bg-img-section.wrap-category-banner-img {
    min-height: 300px;
}

/* Column 3 */
.grid-item-banner .row {
    height: 100%;
}

.grid-item-banner .col-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    border: 1px solid rgba(77, 77, 77, .1);
}

.grid-item-banner .wrap-item {
    padding: 15px;
    display: block;
}

.grid-item-banner .item-title-grid {
    margin-top: 20px;
    color: #003DA5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
}   

/* Style banner ads */
.section-widget-banner-ads .container-fluid-ct {
    background-color: rgba(77, 77, 77, .1);
    padding: 40px 35px 40px;
}

.banner-box-white {
    padding: 0;
    background-color: #fff;
    width: 100%;
}

.banner-box-white .item-banner-ads {
    border: 2px solid rgba(77, 77, 77, .1);
    padding: 0px;
    min-height: 100px;
}

/* Section blog sidebar */
.section-blog-main, .section-banner-blog {
    margin-top: 50px !important;
}

.section-blog-main.style-02 {
    margin-top: 100px !important;
}

@media (min-width: 992px) {
    .shs-item-blog-sidebar {
        padding-right: 60px !important;
    }
}

@media (min-width: 992px) {
    .blog-sidebar-right {
        padding-left: 60px !important;
    }
}

.shs-item-blog-sidebar .item-post-title {
    line-height: 1.5;
    font-size: 30px;
    color: rgba(0, 61, 165, 1);
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin: 0 0 40px;
    padding-bottom: 15px;
    text-transform: capitalize;
}

.shs-item-blog-sidebar .item-post-title:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: rgba(77, 77, 77, 0.1);
}

.hsh-blog-column .item-blog-title {
    margin: 25px 0 15px;
}

.shs-blog-sidebar .item-blog-title {
    margin-bottom: 20px;
}

.item-post-description {
    color: rgba(77, 77, 77, 1);
    font-size: 20px;
    line-height: 33px;
}

.shs-blog-sidebar .item-blog-title,
.hsh-blog-column .item-blog-title {
    line-height: 1.5;
    font-size: 20px;
    color: rgba(0, 61, 165, 1);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.shs-blog-sidebar .item-post.item {
    text-align: center;
    margin-bottom: 30px;
}

.shs-blog-sidebar .item-post.item img {
    border-radius: 12px;
    overflow: hidden;
}

.shs-blog-sidebar .blog-title {
    color: rgba(77, 77, 77, 1);
    font-size: 18px;
    font-weight: 500;
    margin-top: 13px;
}

.btn-page-news {
    margin-bottom: 30px;
}

.hsh-blog-releated-title {
    color: rgba(0, 61, 165, 1);
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.shs-nav-blog-releated {
    align-items: center;
    justify-content: center;
}

.shs-nav-blog-releated .nav-icon i {
    font-size: 20px;
    margin: 0 20px;
}

.nav-image {
    margin: 0 10px 0;
}

.nav-image img {
    max-width: 134px;
}

@media (max-width: 991px) {
    .shs-blog-sidebar {
        margin-top: 60px;
    }
}

@media (max-width: 575px) {
    .shs-nav-blog-releated .nav-icon i {
        font-size: 16px;
        margin: 0 5px;
    }

    .nav-image {
        margin: 0 7px 0;
    }

    .nav-image img {
        max-width: 60px;
    }
}

.gp-blog-releated-02 {
    margin-top: 115px;
}

.gp-blog-releated-02 .row-blog-releated .nav-image-02 {
    margin-bottom: 30px;
}

.title-blog-related {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

.item-post.item-banner {
    margin-bottom: 47px;
}

.item-post.item-banner-sale-sb {
    margin-bottom: 30px;
}

/* Section Banner Image Blog */
.section-banner-blog .row-banner-image {
    margin: 0 auto 0 !important;
    padding: 30px 12px; 
    background-color: rgba(77, 77, 77, .10);
}

/* Section About Service */
.section-about-service {
    margin-top: 60px !important;
}

.section-widget-banner-image-single .container-fluid-ct {
    max-width: 1400px !important;
}

.item-banner-image-single {
    margin-bottom: 30px;
}

.about-service-description {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; 
    padding: 0 40px 0 70px;
}

.row-custom-1245 {
    max-width: 1245px;
    margin: 0 auto;
}

.about-service-title,
.about-service-list li span {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.about-service-list li {
    position: relative;
    display: flex;
}

.about-service-list li .nav-des {
    position: relative;
    min-width: 17px;
}

.about-service-list li .nav-des:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #4D4D4D;
    top: 13px;
    left: 0;
}

.row-left {
    margin-left: 70px !important;
    margin-right: 0 !important;
}

.about-service-title {
    margin: 10px 0 5px;
}

/* Style Service Page */
.section-blog-service .item-post-title {
    text-align: center; 
    display: block;
    margin-top: -10px;
}

.item-post-title.style-02 {
    color: #003DA5;
    font-size: 30px;
    font-weight: 600;
    line-height: 150%; /* 45px */
    text-transform: uppercase;
}

.row-custom-box-content {
    border: 1px solid rgba(77, 77, 77, 0.1);
    border-radius: 15px;
    padding: 50px 60px 50px;
    margin: 50px 0 50px !important;
}

.banner-sidebar {
    padding-left: 4% !important;
}

/* Style Service Page */
.section-blog-carousel .item-title {
    color: #4D4D4D;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.section-blog-carousel .owl-carousel .owl-stage-outer .owl-stage .owl-item .wrap-item {
    border: none;
}

.section-blog-carousel .wrap-item .wrap-image {
    border-radius: 12px;
    border: 1px solid #000;
    overflow: hidden;
}   
.section-blog-carousel .wrap-item .wrap-image img,
.section-blog-carousel .wrap-item .item-title {
    transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
}  

.section-blog-carousel .wrap-item:hover .wrap-image img {
    transform: scale(1.05);
}

.section-blog-carousel .wrap-item:hover .item-title {
    color: #003DA5;
}

.section-blog-carousel .item-section-title {
    margin-bottom: -20px;
}

.section-blog-tag {
    margin-top: 10px;
}

.section-blog-tag .trending-title {
    color: #003DA5;
    font-size: 30px;
    font-weight: 500;
    margin: 0 5px 0 0;
    padding: 0;
    transform: translateY(4px);
}

.section-blog-tag .box-link {
    background-color: #FFCD00;
    margin: 10px 5px 10px;
}

.section-blog-tag .trending-category {
    text-align: left;
}

.section-blog-tag .box-link:hover {
    background-color: #003DA5;
} 

.section-blog-tag .trending-category li a {
    font-size: 20px;
}

.section-blog-tag .trending-category {
    margin-bottom: 0;
}

/* Style Lien He page */
.description-contact {
    margin-top: 20px;
    color: #003DA5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.description-contact span {
    color: #FFCD00;
} 

.row-accodition-widget {
    margin-top: 70px;
}

.accodition-widget {
    border-bottom: 2px solid #003DA5;
    padding-bottom: 20px;
}

.accodition-widget .accodition-title {
    color: #003DA5;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
}

.accodition-widget .accodition-des {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
}

/* Style Form Register */
.form-box {
    border-radius: 12px;
    border: 2px solid #003DA5;
    padding: 70px 70px 80px;
}

.btn-form-register {
    font-size: 30px;
    font-weight: 600;
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 77px;
    line-height: 77px;
    border-width: 2px;
}

.btn-form-register:hover {
    border-color: var(--primary_color);
    color: var(--primary_color);
}

.form-title {
    color: #003DA5;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-input input {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #4D4D4D !important;
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
}

.form-input input::placeholder {
    color: #4D4D4D !important;
}

.box-upload-file .form-des {
    color: #8E8E8E;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 160%; /* 20.8px */
    letter-spacing: 0.5px;
}

.check-box input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 0;
    transform: translateY(4px);
    margin-right: 5px;
}

.check-box span {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
}

.link-map {
    margin-top: 97px;
    display: block;
}

.form-input input:active,
.form-input input:focus,
.form-input input:hover {
    border-bottom-color: var(--primary_color) !important;
    border-width: 2px !important;
    color: var(--primary_color);
}

/* Style info page */
.section-widget-banner-socials .item-img-social {
    padding: 0 10px; 
}

/* Style section box info */    
.widget-box-info {
    border-radius: 12px;
    border: 3px solid var(--primary_color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-info-content {
    padding: 30px 40px 35px;
}

.box-info-title {
    background-color: var(--primary_color);
    display: inline-block;
    padding: 12px 30px 12px 37px;
    border-radius: 6px 0 12px 0;
    font-size: 30px;
    text-transform: uppercase;
}

.box-info-des {
    margin-bottom: 20px;
}

.box-info-des label {
    color: var(--primary_color);
    font-size: 20px;
    font-weight: 600;
}

.box-info-des .info-des-normal {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
}

.box-info-des .info-link {
    color: #00317D;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline !important;
}

.box-info-des .info-link:hover {
    color: #00317D;
}

.btn-round.style-04 {
    border-color: var(--pattern, #FFCD00);
    border-radius: 12px;
    margin-right: 20px;
}

.btn-round.style-04 svg {
    margin-right: 5px;
    transform: translateY(-2px);
}

.btn-round.style-04:hover {
    border: 2px solid #003DA5;
}

.btn-round.style-05 {
    border-color: var(--primary_color);
    background-color: var(--primary_color);
    color: #fff;
}

.btn-round.style-05:hover {
    background-color: transparent;
    color: var(--primary_color);
}


/* Style blog box */
.box-item-blog {
    padding: 35px 30px 25px;
    border-radius: 12px;
    border: 3px solid #003DA5;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.box-item-blog .wrap-item {
    margin: 0 !important;
}

.box-item-blog .wrap-image,
.box-item-blog .wrap-image:before {
    border: none !important;
}

.box-item-blog .item-title {
    text-align: left;

    color: var(--primary_color);
    font-size: 20px;
    font-weight: 600;
}

.box-item-blog .box-content-des,
.box-content-mst {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
}

.text-style-box {
    color: var(--primary_color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #FFCD00;
    padding: 0 50px;
    position: absolute;
    z-index: 10;
    top: 45px;
    right: -50px;
    transform: rotate(37deg);
}

/* Style list item info */
.list-item-info {
    margin-top: 50px;
}

.list-item-info ul li {
    margin-bottom: 12px;
    position: relative;
}

.list-item-info ul li:before {
    position: absolute;
    content: '';
    top: 11px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #848484; 
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.list-item-info ul li a {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    transform: translateX(20px);
    display: block;
    line-height: 1.4
}

.list-item-info ul li a:hover {
    color: var(--primary_color);
}

.list-item-info ul li:hover:before {
    background-color: #c25127; 
}

.row-btn-info-02 {
    text-align: center;
}

.row-btn-info-02 a {
    margin: 0 10px;
}

.item-box-title-info {
    font-size: 20px;
    max-width: 250px;
    position: relative;
    line-height: 1.5 !important;
}

.item-box-title-info:before {
    position: absolute;
    content: '';
    top: 40%;
    right: -220px;
    transform: translateY(-50%);
    width: 200px;
    height: 2px;
    background-color: #FFCD00;  
}

.box-info-content {
    position: relative;
}

.link-box-custom {
    color: #4D4D4D;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    text-decoration: underline !important;
    max-width: 320px;
    background-color: #FFCD00;
    border-radius: 8px;
    display: block;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.link-box-custom:hover {
    color: #4D4D4D;
    text-decoration: underline !important;
}

.box-info-content.style-02 {
    padding: 40px 40px 40px;
}

.box-info-description ul li span,
.box-info-description > div {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;   
}

.box-info-description > div {
    margin-bottom: 10px;
}

.box-info-description ul li {
    margin-bottom: 5px;
}

.block-certificate-title {
    color: #003DA5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Style section review */
.box-info-review {
    margin: 40px 40px 50px;
}

.item-review {
    position: relative;
}

.box-info-review .img-people img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.box-info-review {
    position: relative;
}

.box-info-review .img-people {
    position: absolute;
    top: 0;
    left: 0;
}

.review-content {
    padding-left: 80px;
}

.name {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
}

.rating i {
    color: #FFCD00;
    margin-top: 15px;
}

.content-review {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.date-review {
    color: #003DA5;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 131.9%; /* 21.104px */
    position: absolute;
    right: 0;
    top: 0;
}

.widget-banner-info .container-fluid-ct {
    padding: 0 !important;
}

/* Style Danh Muc Page */
.widget-category-list {

}

.widget-title-sidebar {
    color: var(--primary_color);
    font-size: 16px;
    font-weight: 700;
    line-height: 17px; /* 106.25% */
    text-transform: uppercase;
}

.list-item-category li a {
    color: #00317D;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline !important;
    margin-bottom: 15px;
    display: block;
}

.list-item-category li a:hover {
    font-weight: 500;
}

.widget {
    border-bottom: 3px solid #FFCD00;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.widget-category-list.style-02 .list-item-category li a,
.widget-category-list.style-03 .list-item-category li a {
    text-decoration: none !important;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.widget-category-list.style-02 .list-item-category li a:hover,
.widget-category-list.style-03 .list-item-category li a:hover {
    color: var(--primary_color);
    text-decoration: underline !important;
}

.widget-category-list.style-03 .list-item-category li a {
    text-decoration: underline !important;
}

.border-none {
    border: none;
}

.box-cate-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px; /* 85% */
}

.column-content-box .box-info-des span,
.column-content-box .box-info-des label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}   

.column-content-box .box-info-des label {
    font-weight: 600;
}

.column-content-box .box-info-des.lh-1 a {
    line-height: 1.5;
}

.column-content-box .box-info-des {
    margin-bottom: 15px;
}

.column-img-box .shs-nav-blog-releated .nav-image {
    margin: 0 0px 0;
}

.sub-cate-title {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}

.sub-cate-title svg {
    transform: translateY(-1px);
}

.wrap-box-img {
    position: relative;
    overflow: hidden;
}

.wrap-box-img .text-style-box {
    font-size: 12px;
    font-weight: 700;
    top: 25px;
    right: -54px;
    text-transform: uppercase;
}

.btn-box-dm {
    display: flex;
    border-top: 2px solid var(--primary_color); 
    padding-top: 22px;
}

.btn-box-dm a {
    margin: 0 !important; 
    font-size: 20px;
    height: 30px;
    line-height: 27px;
    padding: 0 13px;
}

.btn-box-text-dm {
    color: var(--primary_color);
    text-align: right;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.btn-box-text-dm img {
    transform: translateY(-3px);
}

.nav-number-blog {
    margin: 30px auto 0;
}

.nav-number-blog a {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 3px solid var(--primary_color);
    color: var(--primary_color);
    display: inline-block;
}

.nav-number-blog a:hover {
    background-color: var(--primary_color);
    color: #fff;
}

.title-main {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-result {
    color: #4D4D4D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.text-result span {
    color: var(--primary_color);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

.filter-box {
    align-items: center;
    justify-content: center;
}

.filter-box > div {
    margin: 0 10px;
}

.filter-box .dropdown-section {
    border-radius: 20px;
    border: 2px solid #003DA5;
    background: rgba(77, 77, 77, 0.05);
    overflow: hidden;
    margin-bottom: 20px;
}

.filter-box .dropdown-section #dropdownAddress {
    margin: 0;
    border: none !important;
    padding: 7px 10px;
}

.filter-box .dropdown-section option {
    border: none !important;
}

.filter-label {
    color: var(--primary_color);
    font-size: 16px;
    font-weight: 600;
    line-height: 17px; /* 106.25% */
    margin-bottom: 20px !important;
}

.section-blog-main.style-03 {
    margin-top: 0 !important;
}

.error-des {
    color: #003DA5;
    font-size: 20px;
    font-weight: 500;
    max-width: 700px;
    margin: 50px auto 0;
}

.site-content-error {
    padding: 0 0 150px;
}

.btn-error {
    height: 50px;
    line-height: 47px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn-error svg {
    transform: translateY(-2px);
    margin-right: 5px;
}

.body-main.error-page .hsh-menu-list li a {
    color: #fff !important;
}

.body-main.error-page .hsh-menu-list li {
    margin-bottom: 0 !important;
}

.tab-title.tab-write-review {
    transform: translateX(-4px);
    border-radius: 0px 0 12px 0;
}

.tab-title {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    background-color: transparent;
    color: var(--primary_color);
}

.tab-title.active {
    background-color: var(--primary_color);
    color: #fff;
}

.box-write-review, 
.box-info-review {
    transform: translateY(30px);
    opacity: 0;
    display: none;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.box-write-review.active, 
.box-info-review.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
}

.form-review {
    padding: 40px 40px 50px;
}

.title-form-review {
    color: var(--primary_color);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.title-rating {
    color: var(--primary_color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: -5px;
}

.btn-main.btn-review {
    text-transform: capitalize;
    font-weight: 600;
    height: 45px;
    line-height: 43px;
    padding: 0 20px;
    border-width: 2px;
}

.btn-main.btn-review:active,
.btn-main.btn-review:focus,
.btn-main.btn-review:hover {
    border-color: var(--primary_color) !important;
    color: var(--primary_color);
}

.form-input-review input,
.form-input-review textarea {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
}