
@media (max-width: 1500px) {
	.item-show-case .number {
	    font-size: 60px;
	}
}

@media (max-width: 1350px) {
	.btn-round.style-04 {
		font-size: 16px;
	}
}

@media (max-width: 1199px) {
	.btn-round.style-04 {
		font-size: 11px;
	}

	.text-behind {
		font-size: 100px;
	}

	.text-behind.style-02 {
		font-size: 50px;
	}

	.text-behind.style-03 {
		font-size: 50px;
	}

	.item-section-title.style-02 {
	    margin-top: -30px;
	}

	.list-of-contents {
		padding: 10px 15px;
	}

	.box-link-table {
	    margin: 0 1px 0;
	}

	.section-registration-company .item-section-title{
	    margin: 0 0 22px 0;
	}

	.column-btn {
		display: block !important; 
    	text-align: center;
	}

	.btn-round.style-01, .btn-round.style-02 {
    	margin: 0 5px 12px 5px !important;
	}
	.section-blog .item-section-title {
	    margin-top: -30px !important;
	}

	.row-blog {
		margin-top: 10px;
	}

	.section-registration .wrap-list.box {
	    margin-top: 20px;
	}

	.section-show-case {
	    margin-top: 100px;
	    padding: 60px 0 40px;
	}  

	.show-case-item {
	    margin-bottom: 30px;
	}

	.item-show-case .number {
	    font-size: 40px;
	    margin-bottom: 10px;
	}

	.item-show-case .show-case-title {
	    font-size: 20px;
	    line-height: 30px;
	}

	.slide-form-box {
		display: block;
		text-align: center;
	}

	.form-search input {
		width: 95%;
	}	

	.slide-form-box > div {
		margin-bottom: 20px;
	}

	.slide-form-box > div:last-child {
		margin-bottom: 13px;
	}

	/* section search */
	.section-search {
	    margin-top: 80px;
	}

	.space-section {
	    margin-top: 80px;
	}

	.section-widget-banner-ads .container-fluid-ct {
	    padding: 40px 0px 40px 30px;
	}

	.shs-nav-blog-releated .nav-icon i {
	    font-size: 16px;
	    margin: 0 5px;
	}

	.item.img-column-service {
	    margin-top: 30px;
	}

	.banner-sidebar {
    	padding-left: 1% !important;
	}

	/* Style form contact */
	.form-title {
	    font-size: 24px;
	}

	.form-input input {
	    font-size: 18px;
	}

	.check-box span {
	    font-size: 16px;
	}

	.btn-form-register {
	    font-size: 20px;
	}

}

@media (max-width: 991px) {
	.form-search input {
	    width: 92%;
	}

	.grid-item-banner .wrap-item {
	    padding: 40px 20px 30px;
	}

	.section-blog-main.style-02 {
    	margin-top: 40px !important;
	} 

	.section-blog-tag .trending-title {
	    font-size: 24px;
	   	transform: translateY(4px);
	}

	.section-blog-tag .trending-category li a {
	    font-size: 16px;
	}

	.banner-sidebar {
    	padding-left: 15px !important;
	}

	.row-custom-box-content {
	    padding: 40px 30px 40px;
	}

	.form-box {
	    padding: 60px 30px 60px;
	}

	.box-info-title {
	    font-size: 20px;
	}

	.item-box-title-info:before {
		display: none;
	}

	.sidebar-info-page {
		margin-top: 80px;
	}

	.list-item-info {
	    margin: 30px 0 50px;
	} 

	.section-blog-main.space-info-page {
		margin-top: 80px !important;
	}

	.section-product.space-info-page {
		margin-top: 40px !important;
	}

	.section-product.space-info-page .owl-carousel-section {
		margin-top: 50px !important;
	}

	.btn-round.style-04 {
		font-size: 20px;
	}

	.column-content-box {
		margin-top: 30px;
	}

	.box-info-content .item-des {
		margin: 10px 0 20px !important;
	}

	.site-content-error {
	    padding: 0 0 100px;
	}

	.error-des {
	    margin: 30px auto 0;
	}
}

@media (max-width: 767px) {
	.form-search input {
	    width: 75%;
	}

	.owl-carousel-section {
		margin-top: -30px;
	}

	/* section search */
	.section-search {
	    margin-top: 60px;
	}

	.space-section {
	    margin-top: 60px;
	}

	.slide-content-box {
	    padding: 30px 20px 30px 20px;
	}

	.slide-form-box {
	    padding: 18px 15px 18px 15px;
	}

	.slide-content-box .heading-slide {
	    font-size: 20px;	
	}

	.text-behind {
		font-size: 40px;
	}

	.section-widget-service .item-section-title {
		font-size: 30px;
	}

	.wrap-title-section.heading-service .item-section-title {
    	margin-top: -35px;
	}

	.wrap-grid-service {
	    margin-top: 20px;
	}

	.wrap-grid-service .item {
	    margin-bottom: 50px;
	}

	.item-blog-sidebar {
		margin-bottom: 50px;
	}

	.text-behind.style-02 {
	    font-size: 30px;
	}

	.text-behind.style-03 {
		font-size: 27px;
	}

	.item-section-title.style-02 {
	    margin-top: -20px;
	}

	.section-update .text-behind {
		font-size: 40px;
	}

	.row-spacing {
		margin-top: 10px;
	}

	.breadcrumb-page {
	    padding: 40px 0;
	    font-size: 18px;
	}

	.item-section-title,
	.shs-item-blog-sidebar .item-post-title {
		font-size: 25px;
	}

	.section-banner-blog .row-banner-image > div {
		margin-bottom: 20px;
	}

	.section-banner-blog .row-banner-image > div:last-child {
		margin-bottom: 0px;
	}

	.section-banner-blog {
	    margin-bottom: 80px !important;
	}

	.row-left {
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	}

	.shs-item-blog-sidebar .item-post-title {
	    margin: 0 0 20px;
	}

	.about-service-description {
	  	padding: 0;
	}

	.space-custom-02 {
	    margin-top: 60px;
	}

	.space-custom-05 {
	    margin-top: 40px !important;
	}

	.row-custom-box-content {
	    padding: 30px 15px 30px;
	}

	.form-box {
	    padding: 50px 15px 60px;
	}

	.form-title {
	    font-size: 20px;
	}

	.link-map {
	    margin-top: 70px;
	}

	.btn-form-register {
		margin-bottom: 60px;
	}

	.section-show-case.style-02 {
		margin-top: 50px;
	}

	.description-contact {
	    margin-top: 0px;
	}

	.img-style-border {
		margin-top: 30px;
		margin-bottom: 60px;
	}

	.row-accodition-widget {
	    margin-top: 40px;
	}

	.space-custom-01.bgr-fff {
		margin-top: 20px;
	}

	.form-contact {
		margin-top: 20px !important;
	}

	.box-info-description ul li span, 
	.box-info-description > div {
	    font-size: 16px;
	}

	.box-info-title {
	    font-size: 16px;
	}

	.box-info-content {
	    padding: 30px 20px 35px;
	}

	.link-box-custom {
	    font-size: 13px;
	    padding: 7px 7px;
	    max-width: 200px;
	}

	.box-info-content.style-02 {
	    padding: 60px 20px 40px;
	}

	.box-info-content .item-section-title {
		font-size: 18px;
	}

	.box-info-description.mt-40 {
		margin-top: 20px !important;
	}

	.block-certificate .row img {
		margin-bottom: 30px;
	}

	.box-info-review {
	    margin: 40px 20px 40px;
	}

	.box-write-review .form-review {
	    padding: 40px 20px 40px;
	}

	.list-item-info ul li a {
	    font-size: 16px;
	}

	.box-info-des.lh-1 {
		line-height: 1.5;
	}

	.section-banner-image-dm-page {
		margin-top: 70px !important;
	}

	.btn-box-dm {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.btn-box-dm a {
		margin-right: 20px !important;
		margin-bottom: 20px !important;
	}

	.title-main {
		font-size: 24px;
	}

	.box-cate-title {
		font-size: 18px !important;
	}
}

@media (min-width: 1400px) {
	.section-widget-banner-socials .row {
	    transform: translateX(5px);
	}
}

@media (min-width: 1200px) {
	.row-accodition-widget .column-left {
        padding-right: 40px;
    }

    .row-accodition-widget .column-right {
        padding-left: 40px;
    }

    .column-form-left {
	    padding-right: 5% !important; 
	}

	.column-form-right {
	    padding-left: 5% !important; 
	}
}

@media screen and (max-width: 1440px){
	/* section search */
	.section-search ul li{
		min-width: 25%;
	}

	/* section update */
	.section-update .wrap-list-update li{
		min-width: 50%;
	}
	.section-product .owl-nav{
		display: none !important;
	}
}

@media screen and (max-width: 1200px){
	/* section search */
	.section-search ul li{
		min-width: 33.33%;
	}

	/* section update */
	.section-update .wrap-list-update li{
		min-width: 50%;
	}
	/* section registration */
	.section-registration .wrap-list{
		padding: 50px 50px 50px;
	}

	.section-registration .wrap-list-registration{
		padding-right: 50px;
	}

	/* section service */
	.section-service .wrap-list-service{
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 15px;
		margin-top: -50px;
	}
	.wrap-gallery{
		padding: 0px;
	}

	.item-left .item-section-title{
		max-width: 100%;
	}
	.section-registration-company .item-right {
		align-items: center;
		justify-content: center;
	}

}
@media screen and (max-width: 991px){
	/* section search */
	.section-search ul li{
		min-width: 50%;
	}
	/* section update */
	.section-update .wrap-list-update li{
		min-width: 50%;
	}
	.section-update .wrap-list-update li .wrap-item{
		flex-direction: column;
	}
	.section-update .wrap-list-update li .wrap-item .item-title{
		margin-top: 15px;
	}
	.footer .section-more-infomation .wrap{
		flex-direction: column;		
	}
	.footer .section-more-infomation .wrap p{
		text-align: center;
	}
}
@media screen and (max-width: 767px){

	/* section service */
	.section-service .wrap-list-service{
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 15px;
		margin-top: -50px;
	}
}
@media screen and (max-width: 676px){
	/* section search */
	.section-search ul li{
		min-width: 100%;
	}

	/* section update */
	.section-update .wrap-list-update li{
		min-width: 50%;
	}
	/* section registration */
	.section-registration .wrap-list{
		padding: 30px;
	}

	.section-registration .wrap-list-registration{
		padding-right: 50px;
	}
}
@media screen and (max-width: 575px){
	/* section update */
	.section-update .wrap-list-update li{
		min-width: 100%;
	}
	/* section registration */
	.section-registration .wrap-list{
		padding: 30px 0 30px 30px;
	}
	.section-registration .wrap-list-registration{
		padding-right: 30px;
	}
	.section-registration ul li{
		display: flex;
		flex-direction: column;
	}
	.section-registration ul li .item-info-company{
		width: 100%;
	}
	.section-registration ul li .item-wrap-time{
		display: flex;
		flex-direction: row;
		margin-top: 15px;

	}
	.section-registration ul li .item-date{
		margin-right: 7px;
	}
	/* section service */
	.section-service .wrap-list-service{
		display: grid;
		grid-template-columns: auto auto;
		gap: 15px;
		margin-top: -50px;
	}
}
@media screen and (max-width: 400px){
	/* section service */
	.section-service .wrap-list-service{
		display: grid;
		grid-template-columns: auto;
		gap: 15px;
		margin-top: -50px;
	}
	.section-service li .wrap-item .item-title{
		max-width: 100%;
	}
}